<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ranking</title>
    <style>
        .adminclass{
            background: red;
            color: #000;
        }
    </style>
</head>
<h3>[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}]]投票排名</h3>
<div><a href="/vote/ch">返回</a></div>
<hr>
<table border="1" align="center">
    <tr  th:each="u,iterStat: ${list}"> 
            <td th:text="${iterStat.index}">test@test.com.cn</td>  
            <td th:text="${u.name}"  th:class="${u.name=='崔行'}? adminclass : userclass">test@test.com.cn</td>  
            <td th:text="${u.vote}">test@test.com.cn</td> 
    </tr>
</table>
<hr>

<body>
  


</body>
</html>