<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阅读列表</title>
</head>
<body>
    <h2>阅读列表</h2>
    <div th:unless="${#lists.isEmpty(books)}">
        <dl th:each="book : ${books}">
            <dt>
                <span th:text="${book.title}">title</span>By
                <span th:text="book.author">Author</span>
                (ISBN:<span th:text="${book.isbn}"></span>)
            </dt>
            <hr>
            <dd>
               <span th:if="${book.description}" th:text="${book.description}">Description</span>

            </dd>
        </dl>
    </div>

    <div th:if="${#lists.isEmpty(books)}">
        you have no book in your books lists
    </div>

    <form method="post">
        Title:<input type="text" name="title"><br>
        Author:<input type="text" name="author"><br>
        ISBN:<input type="text" name="isbn"><br>
        Description:<input type="text" name="description"><br>
        <input type="submit" >

    </form>
</body>
</html>